@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Poppins;
  background: #11111a;
  color: #eee;
  font-size: clamp(0.8rem, 1.5vw, 1.05rem);
  overflow-x: hidden;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

body main header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5em 6vw;
  padding-top: 4vh;
  font-family: 'Varela Round';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 2px solid transparent;
  gap: 1.5em;
  z-index: 100;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: #11111ac0;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

body main header.sticky {
  border-bottom: 2px solid #eeea;
}

body main header .header-img {
  max-height: 3em;
  scale: 2;
}

body main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 5vh;
          column-gap: 5vh;
}

body main article section, body main article footer {
  margin: 0 10vw;
}

body main article section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 5em;
}

body main article section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

body main article section div h1 {
  font-family: 'Varela Round';
  font-size: 1.8em;
  margin-bottom: .5em;
}

body main article footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main article footer .links {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

body main article footer .links li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main article footer .links li a {
  position: relative;
  height: 100%;
  width: 100%;
  background: #2225;
  padding: 1em 2em;
  text-decoration: none;
  color: #eee;
  border-radius: 1rem;
  font-weight: 700;
}

body main article footer .links li a::before, body main article footer .links li a::after {
  content: attr(data-text);
}

body main article footer .links li a::after {
  position: absolute;
  padding: 1em 2em;
  top: 0;
  left: 0;
  inset: 0;
  background: #ddd;
  color: #112;
  border-radius: 1rem;
  pointer-events: none;
  -webkit-clip-path: circle(0.7em at 50% 0%);
          clip-path: circle(0.7em at 50% 0%);
  -webkit-transition: .5s;
  transition: .5s;
}

body main article footer .links li a:hover::after {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}

@media screen and (min-width: 64rem) {
  body main article footer .links {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 40rem) and (max-width: calc(64rem - 1px)) {
  body main article footer .links {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: calc(40rem - 1px)) {
  body main article footer .links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */