.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--container-size);
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
}

.selective-process > h1,
.selective-process > p {
  text-align: center;
}

.selective-process > p:nth-last-child(2) {
  padding-bottom: 40px;
}

.selective-process > p > a {
  font-size: 19px;
  line-height: 28px;
}

.ai-links, .categories {
  text-align: center;
}
