.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  width: 100%;
  max-width: 100vw;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--container-size);
  padding: 30px 75px;
}

.header > img {
  height: 26px;
}

.menu {
  display: inline-block;
  font-size: 0;
}

.menu a {
  color: #8E8E8E;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;

  transition: all .2s ease-in;
}

.menu > .menu-active,
.menu a:hover {
  color: #FFFFFF;
}

.menu > .menu-active {
  pointer-events: none;
}




