@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Roboto';
  color: #FFFFFF;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3, p {
  font-size: 28px;
}

.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.maia {
  display: flex;
  justify-content: center;

}

.maia_texto {
  width: 40%;
  padding-right: 110px;
  text-align: justify;
}

.category {
  display: flex;
  text-align: center;
}

.category img {
  border-radius: 10px;
}

.team {
  padding-right: 50px;
}

.end {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}

.end img {
  width: 500px;
}

.opportunity {
  text-align: justify;
  width: 500px;
  margin-left: 230px;
}

.links {
  display: flex;
  margin-top: 180px;
}

.links a {
  text-decoration: none;
  color: #FFFFFF;
  max-width: 300px;
  text-align: center;
  margin-left: 40px;
  position: relative;
    margin:10px;
        display: inline-block;
}

.links img {
  display: block;
  border-radius: 10px;
  width: 300px;
  height: 240px;
}

.img-gradient:hover:after {
  position: absolute;
  content:"";
  height:240px;
  width:100%;
  top:0;
  left:0;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

